*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --buttons-operations: #36c9c9; 
    --buttons-operations-right: #cc3434;
    /* Dark Mode */
    --color: #fff;
    --background-calculator: #0c0c0c;
    --background-items-calculador: #4d4d4d;
    /* Light Mode */
    --background-buttons-and-icons: #e7e7e7;
    --background-calculator-and-buttons: #9b9b9b;
    --background-buttons-active: #e7e7e7;
    --background-input-numbers: #e7e7e7;
}

main{
    display: grid;
    justify-content: center;
}

.icons{
    width: fit-content;
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--background-buttons-and-icons);
}

.icons i{
    margin: 0 5px;
}

.icons i:hover{
    cursor: pointer;
}

.icon-dark-mode,.icon-light-mode.active{
    opacity: 0.6;
}

.icon-dark-mode.active{
    font-weight: bold;
    opacity: 1;
}

section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: var(--background-calculator-and-buttons);
    border-radius: 7px;
}

section.darkMode{
    background-color: var(--background-calculator);
    transition: 0.5s ease-in-out;
}

input{
    grid-column: 1 / 5;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--background-input-numbers);
    color: var(--buttons-operations-right);
    padding-left: 0.5rem;
    font-size: 1.2rem;
}

button{
    cursor: pointer;
    outline: none;
    background-color: var(--background-buttons-and-icons);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

button:hover{
    opacity: 0.85;
}

button:active{
    background-color: var(--background-buttons-active);
    color: var(--background-calculator-and-buttons);
}

input.darkMode,.icons.darkMode,button.darkMode{
    color: var(--color);
    background-color: var(--background-items-calculador);
    transition: 0.5s ease-in-out;
}

.buttons-operations{
    color: var(--buttons-operations) !important;
}

.buttons-operations-right{
    color: var(--buttons-operations-right) !important;
}

.zero{
    grid-column: 1 / 3;
}