*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.icons i{
    margin: 0 5px;
}

.icons i:hover{
    cursor: pointer;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

input{
    grid-column: 1 / 5;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e7e7e7;
}

button{
    cursor: pointer;
    outline: none;
    background-color: #e2e2e2;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.2rem;
}

button:hover{
    opacity: 0.85;
}

button:active{
    background-color: #d3d3d3;
    color: #9b9b9b;
}

.buttons-operations{
    color: #36c9c9;
}

.buttons-operations-right{
    color: #cc3434;
}

.zero{
    grid-column: 1 / 3;
}

